In [4]:
import pandas as pd

In [11]:
job_id = [1001,1002,1003,1004,1005,1006,1007]
MEMBER_ID = [1,1,2,3,3,3,3]
job_posting_date = ['2017-04-14','2017-08-14','2017-05-31','2016-08-23','2017-04-28','2017-05-23','2017-07-08']
table = pd.DataFrame()

In [27]:
table['JOB_ID'] = job_id
table['member_id'] = MEMBER_ID
table['JOB_POSTING_DATE'] = job_posting_date

table['JOB_POSTING_DATE'] = table['JOB_POSTING_DATE'].astype('datetime64[ns]')

In [28]:
table

   JOB_ID  member_id JOB_POSTING_DATE
0    1001          1       2017-04-14
1    1002          1       2017-08-14
2    1003          2       2017-05-31
3    1004          3       2016-08-23
4    1005          3       2017-04-28
5    1006          3       2017-05-23
6    1007          3       2017-07-08

In [29]:
merged_table = pd.merge(table.copy(),table.copy(), how='inner',left_on='member_id',right_on='member_id')

merged_table.columns = ['JOB_ID','MEMBER_ID','JOB_POSTING_DATE','JOB_ID2','JOB_POSTING_DATE2']

In [31]:
merged_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 20
Data columns (total 5 columns):
JOB_ID               21 non-null int64
MEMBER_ID            21 non-null int64
JOB_POSTING_DATE     21 non-null datetime64[ns]
JOB_ID2              21 non-null int64
JOB_POSTING_DATE2    21 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 1008.0 bytes

In [79]:
import pandas as pd
job_id = [1001,1002,1003,1004,1005,1006,1007]
MEMBER_ID = [1,1,2,3,3,3,3]
job_posting_date = ['2017-04-14','2017-08-14','2017-05-31','2016-08-23','2017-04-28','2017-05-23','2017-07-08']
table = pd.DataFrame()

table['JOB_ID'] = job_id
table['member_id'] = MEMBER_ID
table['JOB_POSTING_DATE'] = job_posting_date

table['JOB_POSTING_DATE'] = table['JOB_POSTING_DATE'].astype('datetime64[ns]')

merged_table = pd.merge(table.copy(),table.copy(), how='inner',left_on='member_id',right_on='member_id')

merged_table.columns = ['JOB_ID','MEMBER_ID','JOB_POSTING_DATE','JOB_ID2','JOB_POSTING_DATE2']


merged_table['Difference'] = merged_table['JOB_POSTING_DATE2'].sub(merged_table['JOB_POSTING_DATE'], axis=0)
merged_table['Difference'] = merged_table['Difference'].dt.days

merged_table = merged_table[(merged_table['Difference']<=0) & (merged_table['JOB_ID']!=merged_table['JOB_ID2'])]
grouped = merged_table.groupby('JOB_ID').max()
grouped
jobs = list(table['JOB_ID'])
dict_counter = {'new':0,'reactivated':0,'repost':0}
for job in jobs:
    print(job)
    if job not in(grouped.index):
        dict_counter['new']+=1
for x in range(len(grouped.index)): 
    if grouped.iloc[x]['Difference']< -180:
        dict_counter['reactivated']+=1
    else:
        dict_counter['repost']+=1
print(dict_counter)

1001
1002
1003
1004
1005
1006
1007
{'new': 3, 'reactivated': 1, 'repost': 3}

In [78]:
for job in jobs:
    print(job)
    if job not in(grouped.index):
        dict_counter['new']+=1
for x in range(len(grouped.index)): 
    if grouped.iloc[x]['Difference']< -180:
        dict_counter['reactivated']+=1
    else:
        dict_counter['repost']+=1
print(dict_counter)

1001
1002
1003
1004
1005
1006
1007
{'new': 3, 'reactivated': 1, 'repost': 3}

In [66]:
]

4

In [61]:
grouped.iloc[0]['Difference']

-122

1001
1003
1004

In [ ]:
merged_table['day difference'] = merged_table['JOB_POSTING_DATE'] - merged_table['JOB_POSTING_DATE2']

merged_table = merged_table[(merged_table['JOB_ID']!=merged_table['JOB_ID2'] )(merged_table['day difference']<0)]

In [ ]:
merged_table = pd.merge(table.copy(),table.copy(), how='inner',left_on='member_id',right_on='member_id')

merged_table.columns = ['JOB_ID','MEMBER_ID','JOB_POSTING_DATE','JOB_ID2','JOB_POSTING_DATE2']
merged_table['day difference'] = merged_table['JOB_POSTING_DATE'] - merged_table['JOB_POSTING_DATE2']
merged_table = merged_table[(merged_table['JOB_ID']!=merged_table['JOB_ID2'] )(merged_table['day difference']<0)]



merged_table.groupby('MEMBER_ID').COUNT() #if count = 1 then new
merged_table.groupby('JOB_ID').MIN()['day difference'] #if day difference>180 mark as repeat, else mark as repeat posting

jobs = list(merged_table['JOB_ID'].unique())
dict_ = {'reactivation':0,'repeat posting':0,'new post':0}
for job in jobs:
    if merged_table.groupby('JOB_ID').MIN()['day_difference'].loc(job)>180:
        dict_['reactivation'] +=1
    elif merged_table.groupby('JOB_ID').MIN()['day_difference'].loc(job)<180:
        dict_['repeat posting'] +=1
    else:
        dict_['new post'] +=1